<%= form_for [@user, @trip] do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <%= f.nested_fields_for :countries do |country| %>
    <label>Country</label>
    <%= country.text_field :name %>
    <br><br>

    <label>Native Language</label>
    <%= country.text_field :native_language %>
  <% end %>

  <br><br>

  <%= f.nested_fields_for :cities do |city| %>
    <label>City</label>
    <%= city.text_field :name %>
    <br><br>

    <label>Travel Advice</label>
    <%= city.text_area :travel_advice %>
    <br><br>

    <label>Tourist Rating (0-10) </label>
    <%= city.range_field :tourist_rating, :in => 0..10 %>
  <% end %>

  <br><br>

  <label>Length of Trip</label>
  <%= f.text_field :length_of_trip %>

  <br><br>

  <%= f.submit %>
<% end %>
