<p><%= notice %></p>

<!-- may put this in layout -->
<% if @message %>
  <p><%= @message %></p>
<% end %>

<h2>Welcome, <%= @user.username %>!</h2>

You have <%= @trips.count %> trips logged.
<% @trips.each do |trip| %>
  <div><%= trip %></div>
<% end %>

<br><br>

<%= link_to "Log Out", logout_path %>
